html, body {
    height:100%;
    user-select:none;

}

div#root {
    height:100%;
}

div.App {
    height:100%;
    display:flex;
    justify-content:center;
}

div.container {
    display:flex;
    align-items:center;
    flex-direction:column;
    height:75%;
}

div > p {
    width:50%;
    margin-bottom:2%;
}

h1 {
    width:80%;
    margin:5%;
}

.result {
    margin:2%;
    font-size:x-large;
}

.negative-result {
    width:60%;
    margin:2%;
    font-size:xx-large;
    color:crimson;
    border: solid crimson 3px;
    padding:5px;
}




@media screen and (max-width: 500px) {
    div.container {
      height:100%;
      border:none;
      box-shadow:none;
    }

    .negative-result {
        width:80%;

    }
}
